body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-image: url("../assets/blurredimage.png");
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    color: #000;
}
.lists{   
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.lists img {
    height: 200px;
    width: 250px;
    padding: 20px;
    margin: 10px 30px;
    display: block;
    cursor: pointer;
  }
  /* ul{

  }
  ul li{
    display: inline-block;
    margin: 60px 10px;
  } */