body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-image: url("../assets/blurredimage.png");
    background-size: cover;
    background-repeat: no-repeat;
}
h1,p{
    text-align: center;
}
h1{
  font-size: 40px;  
  font-family: sans-serif;
}
embed{
    margin: 10px 25px;
    padding: 20px;
    width: 300px;
    height: 300px;
    align-items: center;
}