body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-image: url("../assets/blurredimage.png");
    background-size: cover;
    background-repeat: no-repeat;
}
h1,p{
    text-align: center;
}
h1{
  font-size: 40px;  
  font-family: sans-serif;
}
.videos{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
embed{
    position: relative;
    display: block;
    margin: 10px 20px;
    padding: 20px;
    width: 320px;
    height: 320px;
    align-items: center;
}
.video-container {
    position: relative;
  }
  
  .video-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
.video-description:hover {
    text-decoration: underline;
    cursor: pointer;
  }